.partner-logo {
  width: 60%;
  height: auto;
  transition: filter 0.3s ease-in-out;
}

.logo {
  min-width: 306px;
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover .partner-logo {
    transform: translate(-30px, -30px);
    border-color: $highlight;
    
    .card--display {
      display: none;
    }
    
    .card--hover {
      display: block;
    }
  
  
  .card--display {
    i {
      font-size: 60px;
      margin-top: 200px;
    }
    
    h2 {
      margin: 20px 0 0;
    }
  }
  
  .card--hover {
    display: none;
    
    h2 {
      margin: 20px 0;
    }
    
    p {
      font-weight: normal;
      line-height: 1.5;
      
      &.link {
        margin: 20px 0 0;
        font-weight: bold;
        color: $highlight;
      }
    }
  }
}

.partner-logo {
    width: 60%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .logo:hover .partner-logo {
    transform: scale(1.1);
  }
