$color_1: #444444;
$color_2: #4154f1;
$tertiary-color: #ff3636;


.faq {
    margin-bottom: 4rem;
	.accordion,.accordion-flush{
		border: none;
	}
    
    
    .accordion-item {
        background: black;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        box-shadow: none;
       border: none;
    }
	.accordion-collapse {
        background-color: #4154f1;
	}
    
	.accordion-button {
		padding: 15px 15px 20px 15px;
		font-weight: 600;
		font-size: 1.2rem;
		color: beige;
		text-align: left;
		background: black;
		border: 0.5px solid #ff3636;
		&:focus {
			box-shadow: none;
		}
		&.collapsed {
			background:black;
			color: $tertiary-color;
            border-color: $tertiary-color;
		}
        &:not(.collapsed) {
            background: black;
            color: $tertiary-color;
            border-color: $tertiary-color;
			box-shadow: none;
            
        }
        &::after{
            color: $tertiary-color;

        }
		&:hover {
			background: $tertiary-color;
			color: black;
		}

	}
	.accordion-body {
		padding:1.5rem 0;
        background-color: black;
        color: #ffff;
		font-size: 1.1rem;
		border: 0;
		box-shadow: none;
	}
    
	&:focus {
		outline: 0 !important;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
	  }
	  
}
