@import "mixin.scss";
.hero{
  @include webp-background($img: 'BG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
      position: absolute;
      bottom: 5%;
      left: 50%;
      &:hover{
        transform: translateY(-10px);
        transition: transform .2s ease-in-out;
      }
    }
    .wave{
      width: 80vw;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 576px) {
      
        width: 90vw;
      
    }
    }
   
  }
 
  
  @keyframes wave{
    0%{
      clip-path: polygon(100% 100%, 0% 100% , 0.00% 36.67%, 2.00% 36.57%, 4.00% 36.27%, 6.00% 35.78%, 8.00% 35.13%, 10.00% 34.33%, 12.00% 33.41%, 14.00% 32.41%, 16.00% 31.36%, 18.00% 30.29%, 20.00% 29.25%, 22.00% 28.27%, 24.00% 27.39%, 26.00% 26.63%, 28.00% 26.03%, 30.00% 25.61%, 32.00% 25.38%, 34.00% 25.34%, 36.00% 25.51%, 38.00% 25.87%, 40.00% 26.42%, 42.00% 27.12%, 44.00% 27.96%, 46.00% 28.91%, 48.00% 29.94%, 50.00% 31.00%, 52.00% 32.06%, 54.00% 33.09%, 56.00% 34.04%, 58.00% 34.88%, 60.00% 35.58%, 62.00% 36.13%, 64.00% 36.49%, 66.00% 36.66%, 68.00% 36.62%, 70.00% 36.39%, 72.00% 35.97%, 74.00% 35.37%, 76.00% 34.61%, 78.00% 33.73%, 80.00% 32.75%, 82.00% 31.71%, 84.00% 30.64%, 86.00% 29.59%, 88.00% 28.59%, 90.00% 27.67%, 92.00% 26.87%, 94.00% 26.22%, 96.00% 25.73%, 98.00% 25.43%, 100.00% 25.33%);
    }
    20%{
      clip-path: polygon(100% 100%, 0% 100% , 0.00% 32.75%, 2.00% 31.71%, 4.00% 30.64%, 6.00% 29.59%, 8.00% 28.59%, 10.00% 27.67%, 12.00% 26.87%, 14.00% 26.22%, 16.00% 25.73%, 18.00% 25.43%, 20.00% 25.33%, 22.00% 25.43%, 24.00% 25.73%, 26.00% 26.22%, 28.00% 26.87%, 30.00% 27.67%, 32.00% 28.59%, 34.00% 29.59%, 36.00% 30.64%, 38.00% 31.71%, 40.00% 32.75%, 42.00% 33.73%, 44.00% 34.61%, 46.00% 35.37%, 48.00% 35.97%, 50.00% 36.39%, 52.00% 36.62%, 54.00% 36.66%, 56.00% 36.49%, 58.00% 36.13%, 60.00% 35.58%, 62.00% 34.88%, 64.00% 34.04%, 66.00% 33.09%, 68.00% 32.06%, 70.00% 31.00%, 72.00% 29.94%, 74.00% 28.91%, 76.00% 27.96%, 78.00% 27.12%, 80.00% 26.42%, 82.00% 25.87%, 84.00% 25.51%, 86.00% 25.34%, 88.00% 25.38%, 90.00% 25.61%, 92.00% 26.03%, 94.00% 26.63%, 96.00% 27.39%, 98.00% 28.27%, 100.00% 29.25%);
    }
    40%{
      clip-path: polygon(100% 100%, 0% 100% , 0.00% 26.42%, 2.00% 25.87%, 4.00% 25.51%, 6.00% 25.34%, 8.00% 25.38%, 10.00% 25.61%, 12.00% 26.03%, 14.00% 26.63%, 16.00% 27.39%, 18.00% 28.27%, 20.00% 29.25%, 22.00% 30.29%, 24.00% 31.36%, 26.00% 32.41%, 28.00% 33.41%, 30.00% 34.33%, 32.00% 35.13%, 34.00% 35.78%, 36.00% 36.27%, 38.00% 36.57%, 40.00% 36.67%, 42.00% 36.57%, 44.00% 36.27%, 46.00% 35.78%, 48.00% 35.13%, 50.00% 34.33%, 52.00% 33.41%, 54.00% 32.41%, 56.00% 31.36%, 58.00% 30.29%, 60.00% 29.25%, 62.00% 28.27%, 64.00% 27.39%, 66.00% 26.63%, 68.00% 26.03%, 70.00% 25.61%, 72.00% 25.38%, 74.00% 25.34%, 76.00% 25.51%, 78.00% 25.87%, 80.00% 26.42%, 82.00% 27.12%, 84.00% 27.96%, 86.00% 28.91%, 88.00% 29.94%, 90.00% 31.00%, 92.00% 32.06%, 94.00% 33.09%, 96.00% 34.04%, 98.00% 34.88%, 100.00% 35.58%);
    }
    50%{
      clip-path: polygon(100% 100%, 0% 100% , 0.00% 25.33%, 2.00% 25.43%, 4.00% 25.73%, 6.00% 26.22%, 8.00% 26.87%, 10.00% 27.67%, 12.00% 28.59%, 14.00% 29.59%, 16.00% 30.64%, 18.00% 31.71%, 20.00% 32.75%, 22.00% 33.73%, 24.00% 34.61%, 26.00% 35.37%, 28.00% 35.97%, 30.00% 36.39%, 32.00% 36.62%, 34.00% 36.66%, 36.00% 36.49%, 38.00% 36.13%, 40.00% 35.58%, 42.00% 34.88%, 44.00% 34.04%, 46.00% 33.09%, 48.00% 32.06%, 50.00% 31.00%, 52.00% 29.94%, 54.00% 28.91%, 56.00% 27.96%, 58.00% 27.12%, 60.00% 26.42%, 62.00% 25.87%, 64.00% 25.51%, 66.00% 25.34%, 68.00% 25.38%, 70.00% 25.61%, 72.00% 26.03%, 74.00% 26.63%, 76.00% 27.39%, 78.00% 28.27%, 80.00% 29.25%, 82.00% 30.29%, 84.00% 31.36%, 86.00% 32.41%, 88.00% 33.41%, 90.00% 34.33%, 92.00% 35.13%, 94.00% 35.78%, 96.00% 36.27%, 98.00% 36.57%, 100.00% 36.67%);
    }
    60%{
      clip-path: polygon(100% 100%, 0% 100% , 0.00% 26.42%, 2.00% 27.12%, 4.00% 27.96%, 6.00% 28.91%, 8.00% 29.94%, 10.00% 31.00%, 12.00% 32.06%, 14.00% 33.09%, 16.00% 34.04%, 18.00% 34.88%, 20.00% 35.58%, 22.00% 36.13%, 24.00% 36.49%, 26.00% 36.66%, 28.00% 36.62%, 30.00% 36.39%, 32.00% 35.97%, 34.00% 35.37%, 36.00% 34.61%, 38.00% 33.73%, 40.00% 32.75%, 42.00% 31.71%, 44.00% 30.64%, 46.00% 29.59%, 48.00% 28.59%, 50.00% 27.67%, 52.00% 26.87%, 54.00% 26.22%, 56.00% 25.73%, 58.00% 25.43%, 60.00% 25.33%, 62.00% 25.43%, 64.00% 25.73%, 66.00% 26.22%, 68.00% 26.87%, 70.00% 27.67%, 72.00% 28.59%, 74.00% 29.59%, 76.00% 30.64%, 78.00% 31.71%, 80.00% 32.75%, 82.00% 33.73%, 84.00% 34.61%, 86.00% 35.37%, 88.00% 35.97%, 90.00% 36.39%, 92.00% 36.62%, 94.00% 36.66%, 96.00% 36.49%, 98.00% 36.13%, 100.00% 35.58%);    
    }
    80%{
      clip-path: polygon(100% 100%, 0% 100% , 0.00% 32.75%, 2.00% 33.73%, 4.00% 34.61%, 6.00% 35.37%, 8.00% 35.97%, 10.00% 36.39%, 12.00% 36.62%, 14.00% 36.66%, 16.00% 36.49%, 18.00% 36.13%, 20.00% 35.58%, 22.00% 34.88%, 24.00% 34.04%, 26.00% 33.09%, 28.00% 32.06%, 30.00% 31.00%, 32.00% 29.94%, 34.00% 28.91%, 36.00% 27.96%, 38.00% 27.12%, 40.00% 26.42%, 42.00% 25.87%, 44.00% 25.51%, 46.00% 25.34%, 48.00% 25.38%, 50.00% 25.61%, 52.00% 26.03%, 54.00% 26.63%, 56.00% 27.39%, 58.00% 28.27%, 60.00% 29.25%, 62.00% 30.29%, 64.00% 31.36%, 66.00% 32.41%, 68.00% 33.41%, 70.00% 34.33%, 72.00% 35.13%, 74.00% 35.78%, 76.00% 36.27%, 78.00% 36.57%, 80.00% 36.67%, 82.00% 36.57%, 84.00% 36.27%, 86.00% 35.78%, 88.00% 35.13%, 90.00% 34.33%, 92.00% 33.41%, 94.00% 32.41%, 96.00% 31.36%, 98.00% 30.29%, 100.00% 29.25%);
    }
    100%{
      clip-path: polygon(100% 100%, 0% 100% , 0.00% 36.67%, 2.00% 36.57%, 4.00% 36.27%, 6.00% 35.78%, 8.00% 35.13%, 10.00% 34.33%, 12.00% 33.41%, 14.00% 32.41%, 16.00% 31.36%, 18.00% 30.29%, 20.00% 29.25%, 22.00% 28.27%, 24.00% 27.39%, 26.00% 26.63%, 28.00% 26.03%, 30.00% 25.61%, 32.00% 25.38%, 34.00% 25.34%, 36.00% 25.51%, 38.00% 25.87%, 40.00% 26.42%, 42.00% 27.12%, 44.00% 27.96%, 46.00% 28.91%, 48.00% 29.94%, 50.00% 31.00%, 52.00% 32.06%, 54.00% 33.09%, 56.00% 34.04%, 58.00% 34.88%, 60.00% 35.58%, 62.00% 36.13%, 64.00% 36.49%, 66.00% 36.66%, 68.00% 36.62%, 70.00% 36.39%, 72.00% 35.97%, 74.00% 35.37%, 76.00% 34.61%, 78.00% 33.73%, 80.00% 32.75%, 82.00% 31.71%, 84.00% 30.64%, 86.00% 29.59%, 88.00% 28.59%, 90.00% 27.67%, 92.00% 26.87%, 94.00% 26.22%, 96.00% 25.73%, 98.00% 25.43%, 100.00% 25.33%);
    }
  }