// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

  body{
    font-family: 'Poppins', sans-serif;
  }
  .hero{
    background: url("/BG.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    h1{
      font-family: "Open Sans", sans-serif;
      font-size: 7rem;
      max-width: 600px;
    }
    h1:nth-child(1) {
      color: transparent;
      -webkit-text-stroke: 1px #FC862B;
    }
    h1:nth-child(2) {
      position: absolute;
      top: 0;
      clip-path: polygon(100% 100%, 0% 100% , 0.00% 25.75%, 2.00% 24.99%, 4.00% 24.35%, 6.00% 23.85%, 8.00% 23.52%, 10.00% 23.35%, 12.00% 23.36%, 14.00% 23.54%, 16.00% 23.89%, 18.00% 24.40%, 20.00% 25.05%, 22.00% 25.82%, 24.00% 26.69%, 26.00% 27.63%, 28.00% 28.62%, 30.00% 29.61%, 32.00% 30.59%, 34.00% 31.52%, 36.00% 32.37%, 38.00% 33.11%, 40.00% 33.73%, 42.00% 34.20%, 44.00% 34.52%, 46.00% 34.66%, 48.00% 34.63%, 50.00% 34.42%, 52.00% 34.05%, 54.00% 33.52%, 56.00% 32.85%, 58.00% 32.06%, 60.00% 31.18%, 62.00% 30.23%, 64.00% 29.24%, 66.00% 28.25%, 68.00% 27.28%, 70.00% 26.36%, 72.00% 25.52%, 74.00% 24.79%, 76.00% 24.19%, 78.00% 23.74%, 80.00% 23.45%, 82.00% 23.34%, 84.00% 23.39%, 86.00% 23.62%, 88.00% 24.02%, 90.00% 24.57%, 92.00% 25.26%, 94.00% 26.06%, 96.00% 26.95%, 98.00% 27.91%, 100.00% 28.90%);
      color: #ffffff;
    }
  }
  .navbar {
    width: 100%;
  }
  @media (max-width: 768px) {
    .hero{
      h1{
        font-size: 5rem;
      }
    }
  }